/**
 * Feuille de style CSS spécifique à l'applicatif, ce script est destiné à être
 * appelé en dernier dans la pile des fichiers CSS.
 *
 * @package openfoncier
 * @version SVN : $Id: app.css 3328 2015-03-10 09:20:48Z vpihour $
 */

/*
 * Logo
 */
#jqueryui #logo span.logo { width:158px; height:50px; background-image: url("../img/logo.png");margin:0px;background-repeat: no-repeat; display: block; text-indent: -9999px; }
#header { background-image: none; background-color: #2270C3; }
#formulaire .ui-tabs-selected.ui-state-active a { color:#6b6b6b; }

/*
 * Taille de police
 */
.ui-widget {
  font-size : 12px;
}

/*
 * Aide dans les entêtes des widgets
 */
#dashboard .widget-header .widget-help {
    float: left;
    padding: 1px;
}

/*
 * Police à chasse fixe pour les textarea
 */
textarea { font-family: monospace !important; }

/*
 * Titre
 */
#title { min-height: 18px; }
#title h2 { text-transform: capitalize; }

/*
 * Menu
 */
#menu li.elem.ui-state-focus { background-color:#6b6b6b; background-image: none; font-weight: normal; }
#menu li.elem.category:hover { background-color: #E2E2E2; }
.rubrik { text-transform: capitalize; }
#menu h3 a { margin-left: 5px; background-image: none; }

/*
 * Onglets
 */
.ui-tabs-nav li { text-transform: capitalize; }

/*
 * Overlay
 */
.ui-widget-overlay {
    opacity: 0.75;
}

/*
 * On cache toutes les premières colonnes qui contiennent un id inutile
 */
#tab-demande .firstcol,
#tab-petitionnaire_frequent .firstcol,
#tab-commission_tous_retours .firstcol,
#tab-commission_retours_ma_division .firstcol,
#tab-commission_mes_retours .firstcol,
#tab-messages_tous_retours .firstcol,
#tab-messages_retours_ma_division .firstcol,
#tab-messages_mes_retours .firstcol,
#tab-consultation_tous_retours .firstcol,
#tab-consultation_retours_ma_division .firstcol,
#tab-consultation_mes_retours .firstcol,
#tab-messages_contentieux_tous_retours .firstcol,
#tab-messages_contentieux_retours_ma_division .firstcol,
#tab-messages_contentieux_mes_retours .firstcol,
#tab-taxe_amenagement .firstcol {
    display: none;
}

/*
 *
 */
.field-type-textareastatic .form-content {
    min-width: 600px;
}
/*
 *
 */
div.message.ui-state-transparent {
    background-color: transparent;
    padding: 0;
    border: 0 none;
}

/*
 * 
 */
td.center { text-align: center; }

/*recherchedossier*/
td.fd_rechdossier{background:#ffffff;}
td.fd_haut_rechdossier{background-color:#ffffff;}
td.fd_bas_rechdossier{background-color:transparent;height:10px;}
td.formLibelle{padding: 0 5px 0 15px ;}

/**/
#adv-search-adv-fields .field-type-select,
#adv-search-adv-fields .field-type-text,
#adv-search-adv-fields .bloc.intervaldate {
    float:left;
    width: 210px;
}
#adv-search-adv-fields .field-type-select div.form-libelle,
#adv-search-adv-fields .field-type-text div.form-libelle,
#adv-search-adv-fields .bloc.intervaldate div.bloc-titre {
    display: block;
    font-weight: bold;
    padding: 0;
}
#adv-search-adv-fields .field-type-select div.form-content,
#adv-search-adv-fields .field-type-text div.form-content {
    display: block;
    padding: 3px;
    height: 20px;
}
#adv-search-adv-fields .field-type-select div.form-content select,
#adv-search-adv-fields .field-type-text div.form-content input {
    width:90%;
}
#adv-search-adv-fields .bloc.intervaldate .field-type-date {
    float:none;
    padding: 3px;
}
#adv-search-adv-fields .bloc.intervaldate .field-type-date div.form-libelle {
    display: table-cell;
}
#adv-search-adv-fields .bloc.intervaldate .field-type-date div.form-content {
    height: 20px;
}
#adv-search-adv-fields .field {
    padding-bottom: 2em;
}
#adv-search-adv-fields .field .form-libelle{
    height: 20px;
}

#menu li.elem.subtitle { padding:3px 10px; background-color: #E2E2E2; font-weight: bold;}
#menu li.elem.subtitle:hover {background-color: #E2E2E2;}

.consultation_non_lue,
.non_lu {
    font-weight: bold;
}
.field-ser-them {
    display : inline-block;
}
.ser-them{
    height:150px;
    width: 100%;
}
.list-ser-them, .button-ser-them, .list-sel-ser-them {
    float: left;
}
.list-ser-them,  .list-sel-ser-them{
    background-color: #FFFFFF;
    border : solid 2px #999;
    width: 40%;
    height : 125px;
    overflow : auto;
    cursor: pointer;
}
.list-ser-them {
}
.button-ser-them {
    width: 15%;
    height : 150px;
    list-style-type: none;
}
.button-ser-them ul{
    text-align: center;
    list-style-type: none;
}
.button-ser-them li{
    margin-top: 25px;
}
.list-sel-ser-them {
    overflow : auto;
}


.liste_gauche_service{
    padding-left: 30px;
    display: block;
    line-height: 1.3;
}
.liste_gauche_service:hover, .liste_gauche_them:hover, .liste_droite_service:hover {
    background-color:#999999;
    color: #fff;
}
.liste_gauche_them, .row_title {
    background-color: #E2E2E2;
    border-top: 1px solid #CDCDCD;
    font-weight: bold;
    margin: 0 1px 0 0;
    padding: 1px;
}
.liste_gauche_service input[type=checkbox] {
    display: none;
}
.list-ser-them .liste_gauche_service_selected, .list-sel-ser-them .liste_droite_service_selected {
    background-color:#999999;
    color: #fff;
}
.list-sel-ser-them-title {
    font-weight: bold;
}
div.row {
    float: left;
    width: 99.6%;
}
div.cell1 {
    float: left;
    width: 83%;
}
div.cell2 {
    float: right;
    width: 17%;
}
.lu-16, .finalise, .marque-16 {
    background-image: url("../img/lu-16x16.png");
}
.transferer-16 {
    background-image: url("../img/tb_fleche.png");
}
.rediger-16 {
    background-image: url("../img/rediger-16x16.png");
}
.search-frequent-16 {
    background-image: url("../img/search-16x16.png");
}
.loupe-16 {
    background-image:url("../img/search-16x16.png");
}
.mut-add-16 { 
    background-image: url("../img/mut-add-16x16.png"); 
}
.citizen_access_key-16 {
    background-image: url("../img/citizen_access_key-16x16.png");
}
.watch-16 {
    background-image: url("../img/watch-16x16.png");
}
.unwatch-16 {
    background-image: url("../img/unwatch-16x16.png");
}
.envoi_lettre_rar-16,
.bordereaux-16,
.bordereau_envoi_maire-16 { 
    background-image: url("../../om-theme/img/pdf-16x16.png"); 
}
#portlet-actions .om-icon-16.om-icon-fix {
    display: inline;
}
ul.document_list {
    border: none;
    list-style: none;
    margin-bottom: 10px;
    
}
li.document_list_date {
   background-color: #B0E0E6;
    
}
li.document_list_name {
   background-color: #FAFAD2;
}
ul.document_list li {
    border-bottom: dotted grey 1px;
    padding:2px;
    padding-left:10px;
}
#advs_export {
    float: right;
    margin-right: 20px;
    padding: 5px 0;
}

.libelle-more_petitionnaire, #morelineReferenceCadastrale, .moreFieldReferenceCadastrale, .om-form-button{
    cursor: pointer;
}

.enjeu_erp-16 { background-image: url("../img/enjeu-erp-16x16.png"); }
.affichage_reglementaire_attestation-16,
.affichage_reglementaire_registre-16 {
    background-image: url("../img/pdf-16x16.png");
}
.enjeu_urba-16 { background-image: url("../img/enjeu-urba-16x16.png"); }
.nouveau-dossier-16 { background-image: url("../img/dossier-nouveau-16x16.png"); }
.dossier-existant-16,
.dossier_instruction_recherche-16 { background-image: url("../img/dossier-existant-16x16.png"); }
.autre-dossier-16 { background-image: url("../img/dossier-existant-16x16.png"); }
.tableau-de-bord-16 { background-image: url("../img/tableau-de-bord-16x16.png"); }
.consultation-retour-16 { background-image: url("../img/consultation-retour-16x16.png"); }
.commission-retour-16,
.commissions-16 { background-image: url("../img/commission-16x16.png"); }
.commissions-demande-passage-16 { background-image: url("../img/commission-demande-16x16.png"); }
.dossier_autorisation-16,
.dossier_instruction_mes_encours-16,
.dossier_instruction_tous_encours-16,
.dossier_instruction_mes_clotures-16,
.dossier_instruction_tous_clotures-16,
.dossier_contentieux_mes_instructions-16,
.dossier_contentieux_toutes_instructions-16 { background-image: url("../img/dossier-16x16.png"); }
.messages_tous_retours-16,
.messages_retours_ma_division-16,
.messages_mes_retours-16,
.messages_contentieux_mes_retours-16,
.messages_contentieux_retours_ma_division-16,
.messages_contentieux_tous_retours-16 { background-image: url("../img/message-16x16.png"); }
.petitionnaire_frequent-16 { background-image: url("../img/petitionnaires-16x16.png"); }
.suivi-dates-16, .suivi_mise_a_jour_des_dates-16, .demandes_avis_mise_a_jour_des_dates-16 { background-image: url("../img/calendar-16x16.png"); }

/* CSS de l'affichage ou masquage de consultation dans les edition */
tr.masquer-consultation-edition a[id*='afficher_dans_edition'] {
  display: none;
}
tr.afficher-consultation-edition a[id*='masquer_dans_edition'] {
  display: none;
}

/* CSS des type de consultation */
.tab-tab tr.consultation-avec-avis-attendu td{

}
.tab-tab tr.consultation-pour-information td{
    background-color: lightgrey;
}
.tab-tab tr.consultation-pour-conformite td{
    background-color: #FFF56B;
}
.om-form-button{
    background-repeat: no-repeat;
    padding-left: 18px;
    margin: 1px;
}
.field-type-select_multiple_static ul{
    list-style: none;
}
 .ui-tabs-nav li>a#dossier_autorisation, .tab-tab tr.tabDADI td{
     background-color: #bcddff;
 }
 .ui-tabs-nav li>a#dossier_instruction {
     background-color: #B5E89B;
 }
 
 


/*!
 * Bootstrap v2.3.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
}
.label {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.label:empty,
.badge:empty {
  display: none;
}
a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.label-important,
.badge-important {
  background-color: #b94a48;
}
.label-important[href],
.badge-important[href] {
  background-color: #953b39;
}
.label-warning,
.badge-warning {
  background-color: #f89406;
}
.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
.label-success,
.badge-success {
  background-color: #468847;
}
.label-success[href],
.badge-success[href] {
  background-color: #356635;
}
.label-info,
.badge-info {
  background-color: #3a87ad;
}
.label-info[href],
.badge-info[href] {
  background-color: #2d6987;
}
.label-inverse,
.badge-inverse {
  background-color: #333333;
}
.label-inverse[href],
.badge-inverse[href] {
  background-color: #1a1a1a;
}
.btn .label,
.btn .badge {
  position: relative;
  top: -1px;
}
.btn-mini .label,
.btn-mini .badge {
  top: 0;
}
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}
.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #0088cc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}

.document_numerise .headerDate {
  padding-left : 15px;
}
.document_numerise .headerCat {
  padding-left : 35px;
}
table.tab-tab.document_numerise {
  margin-top: 20px;
}
.document_numerise td.icons {
  width: 10px;
}
.document_numerise tr.col3 td.col-0,
.document_numerise tr.col3 td.col-1 {
  width: 45%;
}
.document_numerise tr.col4 td.col-0,
.document_numerise tr.col4 td.col-1,
.document_numerise tr.col4 td.col-2 {
  width: 30%;
}
p.noData {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.definalise, .demarque-16, .nonlu-16 {
    background-image: url("../../om-theme/img/delete-16x16.png");
}
.wf_etat_statut {
    font-size: 18px;
}
.wf_evenement {
    font-size: 13px;
}

/*Cerfa et données techniques*/
.cerfasubtitle {
      text-indent: 5px;
}
.alignForm label, .alignForm .form-libelle{
    width: 130px;
    float: left;
}
.alignForm .field{
    float: left;
}
.alignForm .field-type-checkbox, .alignForm .field-type-checkboxstatic{
    width: 250px;
    float: left;
}
.alignForm .field-type-checkbox > .form-libelle, .alignForm .field-type-checkbox > .form-libelle label,
.alignForm .field-type-checkboxstatic > .form-libelle, .alignForm .field-type-checkboxstatic > .form-libelle label{
    width: 210px;
    float: left;
}

div.geoloc_form > div{
  border : dotted 1px black;
}
.sousform-geolocalisation > div {
  float:left;
  width : 50%;
}

/* Permet de cacher les premières colonnes des tab */
#tab-demande_dossier_encours .firstcol, 
#tab-demande_autre_dossier .firstcol, 
#tab-dossier_autorisation .firstcol,
#tab-dossier_autorisation_qualifier .firstcol,
#tab-dossier_autorisation_avis .firstcol,
#sousform-dossier_autorisation .firstcol,
#tab-dossier_instruction .firstcol,
#sousform-dossier_lies .firstcol,
#sousform-dossier_lies_retour .firstcol,
#sousform-dossier_lies_geographiquement .firstcol,
#tab-dossier_instruction_mes_encours .firstcol,
#tab-dossier_instruction_tous_encours .firstcol,
#tab-dossier_instruction_mes_clotures .firstcol,
#tab-dossier_instruction_tous_clotures .firstcol,
#tab-dossier_qualifier .firstcol,
#tab-dossier_qualifier_qualificateur .firstcol,
#tab-dossiers_limites .firstcol,
#tab-dossiers_evenement_incomplet_majoration .firstcol,
#tab-contrainte .firstcol,
#sousform-contrainte .firstcol,
#tab-dossier_contentieux_mes_infractions .firstcol,
#tab-dossier_contentieux_toutes_infractions .firstcol,
#tab-dossier_contentieux_mes_recours .firstcol,
#tab-dossier_contentieux_tous_recours .firstcol,
#tab-dossier_contentieux_contradictoire .firstcol,
#tab-dossier_contentieux_ait .firstcol,
#tab-dossier_contentieux_audience .firstcol,
#tab-dossier_contentieux_clotures .firstcol,
#tab-dossier_contentieux_inaffectes .firstcol,
#tab-dossier_contentieux_alerte_visite .firstcol,
#tab-dossier_contentieux_alerte_parquet .firstcol {
    display: none;
}

#sousform-dossier_lies td.col-1,
#sousform-dossier_lies_retour td.col-1,
#sousform-dossier_lies_geographiquement td.col-1,
#sousform-dossier_autorisation td.col-1 {
  width: 45%;
}


/* Permet de toujours afficher le numéro de dossier en entier (ne pas aller à
la ligne sur un espace) */
#tab-demande_dossier_encours td.col-1, 
#tab-demande_autre_dossier td.col-1, 
#tab-dossier_autorisation td.col-1,
#tab-dossier_autorisation_qualifier td.col-1,
#tab-dossier_autorisation_avis td.col-1,
#sousform-dossier_autorisation td.col-1,
#tab-dossier_instruction td.col-1,
#sousform-dossier_instruction td.col-1,
#sousform-dossier_autorisation_lies_geographiquement td.col-1,
#tab-dossier_instruction_mes_encours td.col-1,
#tab-dossier_instruction_tous_encours td.col-1,
#tab-dossier_instruction_mes_clotures td.col-1,
#tab-dossier_instruction_tous_clotures td.col-1,
#tab-dossier_qualifier td.col-1,
#tab-dossier_qualifier_qualificateur td.col-1,
#tab-dossiers_limites td.col-1 {
    white-space: nowrap;
}


/*Alignement des champs du formulaire des données techniques et du cerfa*/
.alignFormSpec label, .alignFormSpec-type-date label{
    width: 350px;
    float: left;
}
.alignFormSpec-type-date .field{
    float: left;
}
.alignFormSpec .field{
    width: 100%;
    float: left;
}
.alignFormSpec .form-content > span{
    width: 250px !important;
}
.form-content > table {
    text-align: center;
}
.color-num-di {
  color: #6b6b6b;
}

/* Message grisé pour les actions sur la géolocalisation */
.ui-state-empty, .ui-widget-content .ui-state-empty, .ui-widget-header .ui-state-empty {
    border: 1px solid #555555; 
    color: #555555; 
    background-image: none; 
	background-color: #E3E3E3;
}
.ui-state-empty a, .ui-widget-content .ui-state-empty a, .ui-widget-header .ui-state-empty a { 
    color: #555555; 
}
.ui-state-empty-text, .ui-widget-content .ui-state-empty-text, .ui-widget-header .ui-state-empty-text { 
    color: #555555; 
}
.ui-icon, .ui-state-error-text .ui-icon {
    background-image: none; 
}
/* Message d'erreur pour les actions sur la géolocalisation */
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    background-image: none; 
    background-color: #FEF8F6;
}

div.widget-content > div.ui-state-error.borderless {
    border-style: none;
}

/* Aligne bouton au centre*/
.alignBtnCenter {
    width: 100%;
    text-align: center;
}
.alignBtnCenter input {
    padding-left: 20%;
    padding-right: 20%;
}
.sig-16 {
    background-image: url("../img/sig-16x16.png");
}

.sousform-geolocalisation {
    width: 100%;
    border-spacing : 5px;
}
.list-buttons-geolocalisation {
    width: 75%;
    display:table-cell;
}
.list-data-geolocalisation {
    display:table-cell;
    vertical-align:middle;
}

/* Fond de texte pour identifier un événement "retour" sur l'arbre workflow*/
.backgroundEvenementRetour {
    background-color: #F0F0F1;
}

/* Surcharge de la taille des éléments dans la page des statistiques à la demande*/
#reqmo_pilot div.choice {
    width : 270px;
}

/* Tableau dans les formulaire */
.om-form-tab-td {
  padding: 5px;
  background-color: #FFFFFF;
}
.om-form-tab-th {
  /*border: 1px solid grey;*/
  min-width: 100px;
  max-width: 500px;
  padding: 5px;
  background-color: #F9F9F9;
}

/* Formulaire dossier_contrainte */
div.noDataForm {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
div.noDataForm div.bloc-titre {
  font-weight: normal;
}

/* Tableau de données dossier_contrainte : dossier_contrainte_view */
div.dossier_contrainte_groupe {
  border: 1px solid #AAAAAA;
  clear: both;
  width: auto;
  margin-top: 5px;
  background: none repeat scroll 0 0 #EDEDEF;
}
div.dossier_contrainte_groupe_header {
  border: 1px solid #EFEFEF;
  clear: both;
  width: auto;
  padding: 5px;
  margin: 1px;
  text-align: center;
  font-weight: bold;
  background: none repeat scroll 0 0 #578BC7;
}
div.dossier_contrainte_groupe_header span.name {
  color: #FFFFFF;
  font-size: 13px;
  text-transform: capitalize;
}
div.dossier_contrainte_sousgroupe {
  border: 1px solid #AAAAAA;
  clear: both;
  width: auto;
  padding: 1px;
  margin-left: 2%;
  margin-top : 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  background: none repeat scroll 0 0 #FFF;
}
div.dossier_contrainte_sousgroupe_header {
  border: 1px solid #EFEFEF;
  clear: both;
  width: auto;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  background: url("../img/ui-bg_glass_75_cbcbcb_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
}
div.dossier_contrainte_sousgroupe_header span.name {
  color: #555555;
  font-size: 12px;
  text-transform: capitalize;
}
table.dossier_contrainte_view {
  margin-left: 2%;
  margin-top : 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 98%;
}
table.dossier_contrainte_view span.name {
  padding-left: 5px;
}
table.dossier_contrainte_view tr.tab-data td.icons {
  width: 3%;
}
table.dossier_contrainte_view tr.tab-data td.col-0 {
  width: 20%;
}
table.dossier_contrainte_view tr.tab-data td.col-1 {
  width: 50%;
}
table.dossier_contrainte_view tr.tab-data td.col-2 {
  width: 10.5%;
}
table.dossier_contrainte_view tr.tab-data td.col-3 {
  width: 10.5%;
}

div.dossier_contrainte_groupe div.dossier_contrainte_sousgroupe table thead tr.ui-tabs-nav th.contrainte_th_texte_complete  {
  width: 70%;
}

div.dossier_contrainte_groupe div.dossier_contrainte_sousgroupe table thead tr.ui-tabs-nav th.contrainte_th_reference {
  width: 10%;
}

div.dossier_contrainte_groupe div.dossier_contrainte_sousgroupe table thead tr.ui-tabs-nav th.contrainte_th_nature  {
  width: 20%;
}

div.dossier_contrainte_groupe div.dossier_contrainte_sousgroupe table.tab-tab tbody tr.tab-data td.contrainte_th_texte_complete  {
  width: 70%;
}

div.dossier_contrainte_groupe div.dossier_contrainte_sousgroupe table.tab-tab tbody tr.tab-data td.contrainte_th_reference {
  width: 10%;
}

div.dossier_contrainte_groupe div.dossier_contrainte_sousgroupe table.tab-tab tbody tr.tab-data td.contrainte_th_nature  {
  width: 20%;
}

.text_capitalize legend {
  text-transform: capitalize;
}


/* suivi de ligne entre le libellé et la valeur */
.field div.form-libelle,
div.bloc > div.bloc.group > div.field > div.form-libelle {
    border-bottom: 1px dotted #cccccc;
}
/* Ajout d'un espacement entre le titre et la valeur */
.field div.form-content,
div.bloc > div.bloc.group > div.field > div.form-content {
    padding-left: 5px;
}


/* espacement des titres regroupant plusieurs champs */
.bloc-titre {
    padding: 9px 0px 2px 0px;
 }


/* Premier caractère des libellés en majuscule */
.form-libelle:first-letter,
.bloc-titre:first-letter,
th.title > span.name > a:first-letter {
    text-transform: uppercase;
}

th.title > span.name > a:before {
    content: ' ';
}

.form-content {
  font-weight: bold;
}

.field-type-htmlEtat .form-content,
.field-type-htmlEtatEx .form-content,
.field-type-html .form-content,
.field-type-htmlstatic .form-content{
  font-weight: normal;
}


.form-content  #dossier_libelle,
.form-content #etat,
.form-content #date_limite,
.form-content #date_limite_incompletude,
.form-content #date_dernier_depot,
#action-form-dossier_instruction-donnees_techniques,
#action-form-dossier_instruction-rapport_instruction,
#action-form-dossier_instruction-recepisse,
#action-form-dossier_instruction-supprimer,
#action-form-dossier_instruction-edition,
#action-form-dossier_instruction-pdfetat,
#action-form-dossier_instruction-geolocalisation {
  color: rgb(34,112,195);
}
.evmt_suivant_tacite_di {
  margin-top: 60px;
}
.interligne {
  margin-top: 20px;
}
#adv-search-adv-fields  .form-content  #dossier_libelle,
#adv-search-adv-fields  .form-content #etat {
  color: inherit;
}
.field-type-referencescadastralesstatic .form-content {
  font-size: 10px;
}

/* Fonds blanc pour les fieldsets */
fieldset.cadre {
  background: inherit;
}

/* Bordure grise pour les tableaux de données techniques */
fieldset table {
  background-color: #e2e2e2;
}

/* Agrandissement des inputs de date */
input.datepicker {
  width: 6.5em;
}

/* la dernière colonne des dossiers limites est cachée */
#tab-dossiers_limites .lastcol {
  display:none;
}

#tab-demande_avis_encours .tab-tab .firstcol, 
#tab-demande_avis_passee .tab-tab .firstcol,
#tab-demande_avis .tab-tab .firstcol {
    width:105px;
}

#tab-demande_avis_encours .tab-tab .col-1,
#tab-demande_avis_passee .tab-tab .col-1,
#tab-demande_avis .tab-tab .col-1{
    width:95px;
}

#tab-demande_avis_encours .tab-tab .col-2,
#tab-demande_avis_passee .tab-tab .col-2,
#tab-demande_avis .tab-tab .col-2{
    width:210px;
}

/* la première colonne des services est cachée */
#tab-service .firstcol {
  display: none;
}

.ui-state-info, .ui-widget-content .ui-state-info, .ui-widget-header .ui-state-info {
  border: 1px solid #686868;
  color: #686868;
  background: #BCDDFF;
}
.ui-state-info a, .ui-widget-content .ui-state-info a, .ui-widget-header .ui-state-info a { color: #ff6000; }
.ui-state-info-text, .ui-widget-content .ui-state-info-text, .ui-widget-header .ui-state-info-text { color: #ff6000; }

/* localisation de rubriques par affichage de couleurs thématiques */
#menu h3 a {
    margin-left: 0px;
    border-left: 7px;
    border-left-style: solid;
    border-left-color: white;
}
/* par défaut les actions en gris foncé pour aller sur les couleurs pastel */
#actions a.actions-password, #actions a.actions-logout, #shortlinks a, #shortlinks a:active, #shortlinks a:visited, #actions, #shortlinks  {
    color: #232323;
}
/* pour le tableau de bord actions en blanc sur fonds foncé */
.mainrubrik-tableau-de-bord #actions a.actions-password, .mainrubrik-tableau-de-bord #actions a.actions-logout,
.mainrubrik-tableau-de-bord #shortlinks a, .mainrubrik-tableau-de-bord #shortlinks a:active,
.mainrubrik-tableau-de-bord #shortlinks a:visited, .mainrubrik-tableau-de-bord #actions, .mainrubrik-tableau-de-bord #shortlinks {
    color: #ffffff;
}
/* couleurs des rubriques */
.mainrubrik-autorisation #header, .mainrubrik-autorisation #header, .mainrubrik-autorisation #menu .autorisation-20, #menu .autorisation-20:hover {
    background-color: #bcddff;
    color: #212121;
}
#menu .autorisation-20 {
    border-left-color: #bcddff;
}
.mainrubrik-guichet-unique #header , .mainrubrik-guichet-unique #menu .guichet_unique-20, #menu .guichet_unique-20:hover  {
    background-color: #F7C672;
}
#menu .guichet_unique-20 {
    border-left-color: #F7C672;
}
.mainrubrik-qualification #header , .mainrubrik-qualification #menu .qualification-20, #menu .qualification-20:hover {
    background-image:none;
    background-color: #fbfce0;
}
#menu .qualification-20 {
    border-left-color: #fbfce0;
}
.mainrubrik-instruction #header , .mainrubrik-instruction #menu .instruction-20, #menu .instruction-20:hover {
    background-color: #B5E89B;
}
#menu .instruction-20 {
    border-left-color: #B5E89B;
}
.mainrubrik-contentieux #header , .mainrubrik-contentieux #menu .contentieux-20, #menu .contentieux-20:hover {
    background-color: #CCCCEE;
}
#menu .contentieux-20 {
    border-left-color: #CCCCEE;
}
.mainrubrik-suivi #header , .mainrubrik-suivi #menu .suivi-20, #menu .suivi-20:hover {
    background-image:none;
    background-color: #e6eacc;
}
#menu .suivi-20 {
    border-left-color: #e6eacc;
}
.mainrubrik-demandes-d_avis #header , .mainrubrik-demandes-d_avis #menu .demande_avis-20, #menu .demande_avis-20:hover {
    background-color: #dbecfc;
}
#menu .demande_avis-20 {
    border-left-color: #dbecfc;
}
.mainrubrik-export--import #header , .mainrubrik-export--import #menu .edition-20, #menu .edition-20:hover {
    background-color: #e0e0e0;
}
#menu .edition-20 {
    border-left-color: #e0e0e0;
}
.mainrubrik-parametrage-dossiers #header , .mainrubrik-parametrage-dossiers #menu .parametrage-dossier-20, #menu .parametrage-dossier-20:hover {
    background-color: #ffcdb2;
}
#menu .parametrage-dossier-20 {
    border-left-color: #ffcdb2;
}
.mainrubrik-parametrage #header , .mainrubrik-parametrage #menu .parametrage-20, #menu .parametrage-20:hover {
    background-color: #ff9860;
}
#menu .parametrage-20 {
    border-left-color: #ff9860;
}
.mainrubrik-administration #header , .mainrubrik-administration #menu .administration-20, #menu .administration-20:hover {
    background-color: #ff6060;
}
#menu .administration-20 {
    border-left-color: #ff6060;
}

#liste_doc ul li {
    list-style: none;
}

/* actions d'envoi de mail */
.notifier_commune-16 {
  background-image: url("../img/send-mail-16x16.png");
}

/**
 * Gestion des tableaux de bord et widgets
 * Styles pour des panels avec des chiffres clés colorés.
 */
.box-icon {
    border-radius: 4px;
    display: block;
    height: 60px;
    line-height: 60px;
    margin: 0 auto 10px auto;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}
.box-icon.rounded {
    border-radius: 50%;
}
.bg-info {
    background-color: #56bdf1;
    color: #fff;
}
.bg-danger {
    background-color: #e94b3b;
    color: #fff;
}
.bg-valid {
    background-color: #4DBD74;
    color: #fff;
}
.bg-warning {
    background-color: #F0AD4E;
    color: #fff;
}
.size-h2 {
    font-size: 30px;
}
.size-h3 {
    font-size: 24px;
}
.text-muted {
    color: #999;
}
.text-center {
    text
}
.panel {
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.panel-box {
    border: 0 none;
    display: table;
    height: 100%;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}
.panel-box ul.list-justified {
    list-style: none outside none;
}
.panel-box ul.list-justified > li {
    border: 1px solid #eee;
    border-width: 1px;
    display: table-cell;
    float: none;
    padding: 10px;
    width: 1%;
}
.panel-box ul.list-justified > li p {
    margin: 0;
}
.panel-box ul.list-by-3 {
    width: 100%;
    display: table-cell;
    border:  1px solid #eee;
    border-width: 0 0 1px 0;
}
.panel-box ul.list-by-3 > li {
    width: 33.33%;
    display: block;
    float: left;
    border-width: 0 0 0 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.panel-box ul.list-by-2 {
    width: 100%;
    display: table-cell;
    border:  1px solid #eee;
    border-width: 0 0 1px 0;
}
.panel-box ul.list-by-2 > li {
    width: 50%;
    display: block;
    float: left;
    border-width: 0 0 0 1px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/**/
.table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}
.table td,
.table th {
  padding: 0;
}
.table th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  /*margin-bottom: 20px;*/
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table thead th {
    background-color: rgb(242, 242, 242);
    background-image: -moz-linear-gradient(center top , rgb(242, 242, 242), rgb(232, 232, 232));
    border: 1px solid rgb(220, 220, 220) !important;
}
.table thead th {
    vertical-align: bottom;
}

.demande_autorisation_contestee_hidden_bloc {
  display: none;
}

/*
 * Soustableau des dossiers liés :
 *  - on masque l'action supprimer si la condition est satisfaite
 *  - on masque les deux dernières colonnes servant aux conditions
 */
tr.case_cannot_delete_link a[id*='supprimer'],
#sousform-dossier_lies th.col-5,
#sousform-dossier_lies th.col-6,
#sousform-dossier_lies td.col-5,
#sousform-dossier_lies td.col-6 {
  display: none;
}
/*
 * Mise en forme dossiers liés automatiquement
 */
tr.case_lien_auto > td {
  background-color: #FFF56B;
}


/*
 *  Correction layout
 *  XXX - à supprimer après fix du core
 */

.group .field.field-type-hidden {
  display: none;
}

/*
 * Masquage du libellé du champ du formulaire
 */
.nolabel .field .form-libelle {
  display: none;
}
.legend_synthese_demandeur {
    font-weight: bold;
}
