/**
 * Général
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/**
 * Pied de page
 */
#footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
.container .credit {
  margin: 20px 0;
}

/**
 * Formulaire d'accès
 */
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

/**
 * Champs input des formulaires
 */
.champFormulaire {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.champFormulaire:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.champFormulaire::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.champFormulaire[disabled], .champFormulaire[readonly], fieldset[disabled] .champFormulaire {
    background-color: #eee;
    opacity: 1;
}
.champFormulaire[disabled], fieldset[disabled] .champFormulaire {
    cursor: not-allowed;
}

/**
 * Champ du formulaire d'accès permettant de saisir la clé d'accès
 */
.citizen_access_key {
    width :21.7%;
    display: inline;
}

/**
 * Boutons des formulaires
 */
.formControls {
    padding-top: 20px;
}

/**
 * Icônes
 */
.ui-icon-info {
    background-position: -16px -144px;
}
.ui-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    height: 16px;
    width: 16px;
}
.ui-state-transparent .ui-icon {
    height: 0px;
    width: 0px;
}

/**
 * Positionnement en grille
 */
.col_1, .col_2, .col_3, .col_4, .col_5, .col_6,
.col_7, .col_8, .col_9, .col_10, .col_11, .col_12
{display: table-row; float: left; margin: 8px 0.833333%;}

.col_1 {width: 6.66667%;}
.col_2 {width: 15%;}
.col_3 {width: 23.3333%;}
.col_4 {width: 31.6667%;}
.col_5 {width: 40%;}
.col_6 {width: 48.3333%;}
.col_7 {width: 56.6667%;}
.col_8 {width: 65%;}
.col_9 {width: 73.3333%;}
.col_10 {width: 81.6667%;}
.col_11 {width: 90%;}
.col_12 {width: 98.3333%;}

/**
 * Fieldset
 */
fieldset { padding:10px 5px; margin:0 0 2px 0;}
fieldset legend { padding:5px; }
fieldset.collapsed { padding: 0 5px !important; }

/**
 * Champs de la fiche du dossier d'autorisation
 */
legend {
    margin-bottom: 0px;
}
.bloc-titre {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bloc .col_12 {
    border-top: 1px solid #e4e4e4;
}
.fieldsetContent .bloc:first-child {
    border: none;
}
.field.field-type-static {
    display: table-row;
    vertical-align: middle;
    width: 100%;
}
.field-type-static .form-libelle {
    float: left;
}
.field-type-htmlstatic .form-libelle {
    display: none;
}
label {
    font-weight: 200;
    color: #777;
}
.field-type-static .form-content {
    display: table-cell;
    line-height: 20px;
    vertical-align: middle;
    width: auto;
    padding-left: 5px;
}
.field-type-hidden {
    display:none;
}

/**
 * Tableaux
 */
table.tab-tab { -moz-border-radius:4px; width:100%; border: 1px solid #EFEFEF;  clear:both;  }
table.tab-tab tr.tab-title { background-color:#F2F2F2; padding:3px; }
table.tab-tab tr.tab-title th { font-weight:bold; height:30px; text-align:center; }
table.tab-tab tr.tab-title th.title { text-align:left; }
table.tab-tab tr.tab-title th.title span.name { float:left; }
table.tab-tab tr.tab-title th.title .ui-icon { float:left; }
table.tab-tab tr.tab-title th a, table.tab-tab tr.tab-title th a:visited { text-decoration:none; }
table.tab-tab tr.tab-title th a:hover { text-decoration:none; }
table.tab-tab tr.tab-data { border:1px solid #CCCCCC; border-collapse:separate; }
table.tab-tab tr.tab-data td { padding:2px; text-align:left; vertical-align:top; }
table.tab-tab tr.tab-data.empty td { text-align:center; }
table.tab-tab tr.tab-data td.icons { border-left:0 none; border-right:0 none; vertical-align: middle; text-align:center; }
table.tab-tab tr.tab-data td span.ui-icon { float:left; }
tr.odd td { background-color:#FFFFFF; }
tr.even td { background-color:#EFEFEF; }
tr.even td.icons { vertical-align: middle; }
td.icon { width:20px; }
td.right { text-align:right !important; }
td.left { text-align:left !important; }
fieldset table {
    background-color: #e2e2e2;
}

/**
 * Message d'erreur openMairie
 */
.ui-state-error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
.ui-state-error .ui-icon {
    display: none;
}
.ui-state-error p {
    margin: 0 0 0 0;
}